USE [master]
GO
/****** Object:  Database [DataGridViewCodeSample]    Script Date: 7/2/2021 2:03:11 PM ******/
CREATE DATABASE [DataGridViewCodeSample]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DataGridViewCodeSample', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DataGridViewCodeSample.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DataGridViewCodeSample_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\DataGridViewCodeSample_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DataGridViewCodeSample].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DataGridViewCodeSample]
GO
/****** Object:  Table [dbo].[Colors]    Script Date: 7/2/2021 2:03:11 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Colors](
	[ColorId] [int] NOT NULL,
	[ColorText] [nvarchar](max) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Customer]    Script Date: 7/2/2021 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Customer](
	[CustomerId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](max) NULL,
	[LastName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Customer] PRIMARY KEY CLUSTERED 
(
	[CustomerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 7/2/2021 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[Item] [nvarchar](max) NULL,
	[ColorId] [int] NULL,
	[CustomerId] [int] NULL,
	[Qty] [int] NULL,
	[InCart] [bit] NULL,
	[VendorId] [int] NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendors]    Script Date: 7/2/2021 2:03:12 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendors](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[VendorName] [nvarchar](max) NULL,
 CONSTRAINT [PK_Vendors] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Colors] ([ColorId], [ColorText]) VALUES (1, N'Red')
INSERT [dbo].[Colors] ([ColorId], [ColorText]) VALUES (2, N'Blue')
INSERT [dbo].[Colors] ([ColorId], [ColorText]) VALUES (3, N'Green')
SET IDENTITY_INSERT [dbo].[Customer] ON 

INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName]) VALUES (1, N'Karen', N'Payne')
INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName]) VALUES (2, N'Mary', N'Jones')
INSERT [dbo].[Customer] ([CustomerId], [FirstName], [LastName]) VALUES (3, N'Mike', N'Adams')
SET IDENTITY_INSERT [dbo].[Customer] OFF
SET IDENTITY_INSERT [dbo].[Product] ON 

INSERT [dbo].[Product] ([id], [Item], [ColorId], [CustomerId], [Qty], [InCart], [VendorId]) VALUES (1, N'iPhone 6', 3, 1, 4, 1, 1)
INSERT [dbo].[Product] ([id], [Item], [ColorId], [CustomerId], [Qty], [InCart], [VendorId]) VALUES (2, N'iPhone 7', 7, 1, 1, 1, 3)
INSERT [dbo].[Product] ([id], [Item], [ColorId], [CustomerId], [Qty], [InCart], [VendorId]) VALUES (3, N'Galaxy Note', 4, 2, 3, 1, 2)
SET IDENTITY_INSERT [dbo].[Product] OFF
SET IDENTITY_INSERT [dbo].[Vendors] ON 

INSERT [dbo].[Vendors] ([VendorId], [VendorName]) VALUES (1, N'Amazon')
INSERT [dbo].[Vendors] ([VendorId], [VendorName]) VALUES (2, N'eBay')
INSERT [dbo].[Vendors] ([VendorId], [VendorName]) VALUES (3, N'Best Buy')
SET IDENTITY_INSERT [dbo].[Vendors] OFF
USE [master]
GO
